######################
# Eclipse
######################
LegoSegway/*.pydevproject
LegoSegway/.project
.metadata
LegoSegway/bin/**
LegoSegway/tmp/**
LegoSegway/tmp/**/*
LegoSegway/*.tmp
LegoSegway/*.bak
LegoSegway/*.swp
LegoSegway/*~.nib
LegoSegway/local.properties
LegoSegway/.classpath
LegoSegway/.settings/
LegoSegway/.loadpath
Report/rapport.aux
Report/rapport.bbl
Report/rapport.blg
Report/rapport.dvi
Report/rapport.log
Report/rapport.pdf
Report/rapport.toc
texput.log
Report/.nfs0000000000e6044a0000004a
RemoteSystemsTempFiles/
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
LegoSegway/.cproject
 
# PDT-specific
LegoSegway/.buildpath
