######################
# Eclipse
######################
LegoSegway/*.pydevproject
LegoSegway/.project
.metadata
LegoSegway/bin/**
LegoSegway/tmp/**
LegoSegway/tmp/**/*
LegoSegway/*.tmp
LegoSegway/*.bak
LegoSegway/*.swp
LegoSegway/*~.nib
LegoSegway/local.properties
LegoSegway/.classpath
LegoSegway/.settings/
LegoSegway/.loadpath
RemoteSystemsTempFiles/
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
LegoSegway/.cproject
 
# PDT-specific
LegoSegway/.buildpath
